<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kingdom</title>
    <link rel="stylesheet" href="public/style/style.css" />
    <link rel="stylesheet" href="public/style/room.css" />
  </head>
  <body>
    <div class="container" id="mainContainer">
      <h1>Kingdom</h1>

      <div class="button-container">
        <button class="btn btn-primary" id="createRoom">Create Room</button>
        <button class="btn" id="joinRoom">Join Room</button>
      </div>
    </div>

    <div class="modal" id="countryModal">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Select Your Country</h2>
        <div class="modal-body">
          <div class="countries-grid" id="countriesGrid"></div>
        </div>
      </div>
    </div>

    <div class="waiting-room" id="waitingRoom" style="display: none">
      <div class="waiting-header">
        <div class="room-id">Room ID: <span id="waitingRoomId"></span></div>
        <h2 id="title" >Waiting Room</h2>
        <button class="btn" id="selectCountry">Select Country</button>
      </div>
      
      <div class="waiting-users">
        <h3>Players</h3>
        <div id="waitingUsersList"></div>
      </div>

      <div class="waiting-controls">
        <button class="ready-btn" id="waitingReadyBtn">Ready</button>
      </div>
    </div>

    <div class="room-container" id="roomContainer" style="display: none">
      <div class="room-header">
        <div class="room-id"><span id="timeStatus">Round</span> <span id="round"> 1</span> : <span id="timer"></span></div>
      </div>


      <div class="chat-container">
        <div class="chat-overlay hidden">
          <span class="chat-overlay-text">Chats unavailable in vote time</span>
        </div>
      </div>
      <div class="chat-container">
        <h3 class="chat-header">Public Chat</h3>
        <div class="messages" id="publicMessages">
        </div>
        <form class="message-input" id="publicForm">
          <input
            type="text"
            name="message"
            placeholder="Type your message..."
          />
          <button id="sendPublicMessage" type="submit">Send</button>
        </form>
        <div class="chat-overlay hidden">
          <span class="chat-overlay-text">Chats unavailable in vote time</span>
        </div>
      </div>

      <div class="users-list">
        <h3 class="chat-header">Users</h3>
        <div id="usersList">
        </div>
        <div class="chat-overlay hidden">
          <span class="chat-overlay-text">Your vote has been recorded.</span>
        </div>
      </div>
    </div>

    <div class="modal" id="joinRoomModal">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Join Room</h2>
        <div class="modal-body">
          <form class="input-group">
            <label for="roomId">Room ID:</label>
            <input type="text" name="roomId" placeholder="Enter room ID" required />
            <button class="btn btn-primary" id="confirmJoin" type="submit">Join</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="src/components/index.js"></script>
    <script type="module" src="src/service/room.js"></script>
  </body>
</html>
