body {
  margin: 0;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: #e6f5dc;
  position: relative;
}

.loading-bg{
  background-image: url("/public/image/loading-bg.png");
}

.display-none{
  display: none;
}

.background-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.loader-screen {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 150px;
  animation: float 2s ease-in-out infinite;
  filter: drop-shadow(0 0 10px #ffddab80);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.progress-container {
  width: 320px;
  height: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #ffddab, #ffc86a);
  animation: fillBar 3s ease forwards;
}

@keyframes fillBar {
  to {
    width: 100%;
  }
}

.tip-text {
  max-width: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px #00000020;
}

.start-btn {
  opacity: 0;
  pointer-events: none;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #ffddab;
  color: #222;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #ffc86a;
}

.start-btn.show {
  opacity: 1;
  pointer-events: auto;
}
