<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Univo</title>
    <link rel="stylesheet" href="public/style/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">Univo</div>
      <nav class="nav-links">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="" id="logout">LogOut</a>
      </nav>
    </header>

    <main class="hero">
      <h1>Connect. Collaborate. Meet.</h1>
      <p>
        Welcome to Univo — your secure, simple, and reliable video conferencing
        platform. Start a high-quality meeting with one click.
      </p>
      <button>Start a Meeting</button>
    </main>

    <footer class="footer">© 2025 Meetly. All rights reserved.</footer>
    <script src="src/components/index.js"></script>
  </body>
</html>
