<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Univo</title>
    <link rel="stylesheet" href="/public/style/room.css">
  </head>
  <body>
    <input type="hidden" id="userID" value="<%= userID %>">
    <div class="video-container">
      <!-- <video id="myVideo" autoplay muted playsinline></video> -->
    </div>

    <div class="controls">
      <button class="mute-btn" id="muteBtn">Toggle Mic</button>
      <button class="camera-btn" id="cameraBtn">Toggle Camera</button>
      <button class="leave-btn" id="leaveBtn">Leave</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/src/components/room.js"></script>
    <script type="module" src="/src/service/room.js"></script>
  </body>
</html>
